{% extends 'base.html' %}

{% load static %}
{% load django_bootstrap5 %}
{% load django_htmx %}
{% load i18n %}
{% load status_tags %}
{% load account %}




{% block pagetitle %}
    Welcome to the StatusBoard App
{% endblock %}


{% block content %}
<div class="row w-75">
  {# Main list of people #}
  <div class="col w-75">
  {%block crud%}
  DATA HERE
  {%endblock%}
  </div>

  {# Control section #}
  <div class="col col-lg-2">
        {%block filter_block %}
        {% if filter %}
          Filters<p>
            <form action="" method="get" class="form form-inline">
              {% bootstrap_form filter.form layout='inline' %}
              {% bootstrap_button 'Filter' %}
            </form>
        {%endif %}
        {%endblock%}
  </div>
</div>
{%endblock%}