{
    "web": {
        "issuer": "https://keycloak.example.com:8443/realms/EXAMPLE-COM",
        "auth_uri": "https://keycloak.example.com:8443/realms/EXAMPLE-COM/protocol/openid-connect/auth",
        "client_id": "statusboard",
        "client_secret": "<client secret from keycloak>",
        "redirect_uris": [
            "http://localhost:5000/*"
        ],
        "userinfo_uri": "https://keycloak.example.com:8443/realms/EXAMPLE-COM/protocol/openid-connect/userinfo", 
        "token_uri": "https://keycloak.example.com:8443/realms/EXAMPLE-COM/protocol/openid-connect/token",
        "token_introspection_uri": "https://keycloak.example.com:8443/realms/EXAMPLE-COM/protocol/openid-connect/token/introspect"
    }
}
