SB_SECRET_KEY="CHANGEME"
SB_DEBUG=True
SB_ALLOWED_HOSTS="*"
SB_ENABLE_OIDC=True
SB_OIDC_PROVIDER_URL="https://keycloak/realms/master/.well-known/openid-configuration"
SB_OIDC_NAME="SSO"
SB_OIDC_CLIENT_ID="statusboard"
SB_OIDC_CLIENT_SECRET="SUPERSECRET"
SB_OIDC_SITE_ADMIN_ROLE="site-admins"
SB_OIDC_STAFF_ROLE="staff"
SB_OIDC_GROUPADM_ROLE="status-admins"
