<!-- Modal -->
<div class="modal fade" id="areYouSureModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="areYouSureModalLabel">WARNING!!!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {{ warning_message }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
          <button type="button" onClick="location.href='{{ areYouSureAction }}'" class="btn btn-danger">Commit</button>
        </div>
      </div>
    </div>
  </div>