{% extends "base.html" %} 
{% block title %}Status Board{%endblock%}
{% block user %}

{%endblock%}
{% block content %}

{% if form %}
<div>
<form method="POST">
    {{ form.hidden_tag()}}
    {{ form.name.label(class="form-label") }}<br/>
    {{ form.name(class="form-control") }}<br/>
    {{ form.description.label(class="form-label") }}<br/>
    {{ form.description(class="form-control") }}<br/>
    {% if groupinfo %}
    {{ form.update(class="btn btn-primary") }} 
    {% else %}
    {{ form.add(class="btn btn-primary") }} 
    {% endif %}
</form><br/>
{% endif %}
{% if groupinfo %}
[<a href="{{ url_for('groupviews.groupShow', id=groupinfo.id)}}">Back to {{ groupinfo.name }}</a>]
<br/>
</div>
</div>
<div class="container">
Member List:
<div class="row row-cols-3 text-begin">
    <div class="col-2">Name</div>
    <div class="col-2">Status</div>
    <div class="col-6">Action</div>
</div>

{% for m in groupinfo.members %}
    <div class="row row-cols-3 text-begin">
        <div class="col-2">{{ m.first_name }} {{ m.last_name }} ({{ m.username }})</div>
        <div class="col-2">{% if m is in groupinfo.mods  %}MODERATOR{% endif %}{% if m.is_admin  %}SITE ADMIN{% endif %} </div>
        <div class="col-6">
            {% if m is in groupinfo.mods %} 
              <a href="{{ url_for('groupviews.groupAdminUpdateMembers', gid=groupinfo.id,uid=m.id,action='deletemod')}}" class="btn btn-warning btn-sm">Remove MODERATOR</a> 
            {%else%}
              <a href="{{ url_for('groupviews.groupAdminUpdateMembers', gid=groupinfo.id,uid=m.id,action='addmod')}}" class="btn btn-info btn-sm">MAKE MODERATOR</a> 
              <a href="{{ url_for('groupviews.groupAdminUpdateMembers', gid=groupinfo.id,uid=m.id,action='delete')}}" class="btn btn-danger btn-sm">REMOVE MEMBER</a> 
            {%endif%}
            
        </div>
    </div>   
    {% endfor %}

</div>

<br/>
<br/>

<div class="container">

<div class="row row-cols-3 text-begin"><label class="form-label">New Member Search:</label>
<input class="form-control col-4" autocomplete="off" name="q" hx-get="{{ url_for('userviews.userSearchExcludingGroupMembers', id=groupinfo.id)}}" hx-trigger="keyup changed delay:250ms" hx-target="#results">
</div>
<div id="results">

</div>
</div>




      


{%endif%}

  
{% endblock %}