{% extends "base.html" %} 
{% block title %}Status Board{%endblock%}
{% block user %}

{%endblock%}
{% block content %}
{% set u=edituser %}



<form method="POST">
  {{ form.hidden_tag() }}
  
  {{ form.username.label(class="form-label") }}<br/>
  {% if newuser %}
  {{ form.username(class="form-control", disabled=False)}}<br/>    
  {% else %}
  {{ form.username(class="form-control", disabled=True)}}<br/>    
  {% endif %}
  {{ form.first_name.label(class="form-label") }}<br/>
  {{ form.first_name(class="form-control")}}<br/>
  {{ form.last_name.label(class="form-label") }}<br/>
  {{ form.last_name(class="form-control")}}<br/>
  {% if userinfo.is_admin %}
  {{ form.is_admin.label(class="form-label") }} {{ form.is_admin(class="form-check-input")}}<br/>
  {% endif %}
    {% if edituser %}  
      {{ form.update(class="btn btn-primary") }} 
      {% if userinfo.is_admin %}
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#areYouSureModal">
        DELETE 
      </button>
      {% set warning_message = "You are about to delete " ~ edituser.username %}
      {% set areYouSureAction = "/useradm/delete/" ~ edituser.id %}
      {% include "are_you_sure.html" %}
      {% endif %}
    {% endif %}  
    {% if newuser %}
      {{ form.add(class="btn btn-primary") }}
    {% endif %}  
</form><br>
{% if edituser %} 
<div class="container">
  <div class="row text-center">Member of</div>
  {% for g in userinfo.groups %}
  <div class="row text-center">{{ g.name }}</div>
  {% endfor %}
</div>
{% endif %}






{% endblock %}
