{% extends "sb_base.html" %}
{% load django_tables2 %}
{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load crispy_forms_tags %}
{%block pagetitle%}{{ group }}{%endblock%}



  {%block content%}
<center>
  <h2> <a href="{% url 'status:sb-group-view' slug=group.slug %}">{{ group }}</a> </h2> 
{% if group.description %}
<p> [{{ group.description }}] <p>
{%endif%}
<!--Members table-->
<div class="container-fluid text-start border-bottom">
  <!--Members header-->
  <div class="row mb-2">
    <div class="col-2">Name</div>
    <div class="col-1">Status</div>
    <div class="col-6">Notes</div>
    <div class="col-3">Updated</div>
  </div>
  
  
</div>
  <!--End Header-->
<div id="group_members" hx-trigger="load" hx-get="{% url "status:sb-group-crud" user=user.slug slug=group.slug action="admin_mode" %}">


</div>
  



{% if is_a_mod %}

  <div class="row mb-2" id="edit_mode">
    <div class="col-2"></div>
    <div class="col-1"></div>
    <div class="col-6"></div>
    <div class="col-3">
    </div>
  </div>
<div class="row mb-2" id="add_person">
    <div class="col-2">
    </div>
    <div class="col-1">Add Person</div>
    <div class="col-6">
        <input class="form-control"
               id="searchbar"
               name="search"
               placeholder="Start Typing to Search"
               hx-target="#person_search",
               hx-get="{% url 'status:user-search' slug=group.slug %}"
               hx-trigger="input changed delay:500ms, keyword">
    </div>
    <div class="col-3"></a>
    </div>
   
</div>
<div id="person_search" class="row mb-2">
</div>
</div> <!--End member table-->

{%else%}
Moderators:

{%for mod in group.mods.all %}
{{ mod }} <p>
{%endfor%}
{%endif%}

  {%endblock%}
  
