{% extends "sb_base.html" %}
{% load django_tables2 %}
{% load django_bootstrap5 %}
{%block pagetitle%}{%endblock%}



  {%block crud%}

    {% render_table table 'django_tables2/bootstrap5.html' %}
   <p>Debug User: {{ request.user.username }}</p>
<p>User Groups: 
    {% for group in request.user.groups.all %}
        [{{ group.name }}]
    {% endfor %}
</p>
  {%endblock%}
  {%block filter_block%}
  {% if filter %}
          Filters<p>
            <form action="" method="get" class="form form-inline">
              {% bootstrap_form filter.form layout='inline' %}
              {% bootstrap_button 'Filter' %}
            </form>
        {%endif %}
  
  {%endblock%}

